<form action="/user/avatar" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="avatar">
    <input type = "string" name = "key">
    <input type="submit" value="Upload">
</form>

