
<form action="/user/updateLocation" method="post">

  <label for="lng">longitude</label>
  <input name="lng" type="text"/>
  <br/>

  <label for="lat">Latitude</label>
  <input name="lat" type="text"/>
  <br/>

   <label for="key">user Key</label>
  <input name="key" type="text"/>
  <br/>

  <input type="submit"/>
</form>