<form action="/user/avatar" method="post" enctype="multipart/form-data">
    Select image to upload:

      <input type = "text" name = "key">
    <input type="file" name="avatar">
  

    <input type="submit" value="Upload">
</form>
